/* styles go here */
/* styles go here */
body {
  max-width: 80%;
  margin: 30px 50px;
}

.fieldset {
  border: 1px solid black;
  margin-top: 20px;
}

.form-field {
  display: block;
  margin-top: 10px;
}

.button {
  margin-top: 30px;
}
